body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.game-table-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 300px;
  height: 300px;
}

.table-move{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.win-message {
  font-size: 20px;
}

.reset-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: black;
  color:white;
  border: none;
  font-size: 15px;
}